header {
    text-align: center;
    background-color: brown;
    margin-top: 0%;
}

a.enlace{
    color: black;
}
p.numDoc{
    margin-bottom: 0%;
}

div.main {
    display: grid;
        grid-template-rows: auto;
            margin-left: 41%;
}
div.formularioUno {
    background-color: thistle;
        width: fit-content;
            padding: 5%;
                border-radius: 10px;
                grid-row: 1;
}
div.formularioDos {
    background-color: rgb(135, 202, 193);
        width: fit-content;
            padding: 5%;
                border-radius: 10px;
                    grid-row: 2;
                        margin-top: 2%;
}

div.formularioTres {
    background-color: rgb(202, 173, 135);
        width: fit-content;
            padding: 5%;
                border-radius: 10px;
                    grid-row: 3;
                        margin-top: 2%;
}