body {
    background-color: wheat;
}
header {
    color: brown;
}
ul.circuloBlanco {
    list-style: circle;
}
ol.romano {
    list-style-type: upper-roman;
}
ol.abclower {
    list-style-type: lower-alpha;
}